<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All your info in one place | eCubed</title>

    <!--LINKS AND STYLESHEETS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../styleDashboard.css">
    <link rel="stylesheet" href="../style.css">

    <!--SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/76d1076f7b.js" crossorigin="anonymous"></script>

</head>
<body onload="loadMiscChart()">

<div class="holder">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dashboard
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/level">Level</a></li>
                        <li><a class="dropdown-item" href="/temperature">Temperature</a></li>
                        <li><a class="dropdown-item" href="/distance">Distance</a></li>
                        <li><a class="dropdown-item" href="/misc">Miscellaneous</a></li>
                    </ul>
                    <a class="nav-link" href="/warnings">Report</a>
                    <a class="nav-link" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="row">
            <div class="col-12">

                <!-- HEADING -->
                <h2 class=" dash-heading text-center display-3">Dashboard - Miscellaneous</h2>
            </div>
        </div>

        <!-- TOP CARDS -->
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
                <div class="card card-misc">
                    <div class="card-body">
                        <h5 class="card-heading">Battery</h5>
                        <p class="card-text">Charge</p>
                        <h2 class="card-heading text-end">{{mBattery}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="card card-misc">
                    <div class="card-body">
                        <h5 class="card-heading">Signal</h5>
                        <p class="card-text">Quality</p>
                        <h2 class="card-heading text-end">{{mSignal}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="card card-misc">
                    <div class="card-body">
                        <h5 class="card-heading">Outside Temperature</h5>
                        <p class="card-text">at Sensor's Location</p>
                        <h2 class="card-heading text-end">{{mWeather}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="card card-misc">
                    <div class="card-body">
                        <h5 class="card-heading">Last</h5>
                        <p class="card-text">Update</p>
                        <h2 class="card-heading text-end">{{mSeen}}</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- BATTERY CHART -->
        <div class="graphs-container">
            <canvas id="miscChart"></canvas>
        </div>

        <!-- BOTTOM CARDS -->
        <div class="row bottom-row">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-2">
                <p class="bar-heading text-center">Measuring Interval</p>
                <h5 class="bar-main text-center">Every 1 Hour(s)</h5>
            </div>
            <div class="col-12 col-md-2">
                <p class="bar-heading text-center">Data Transfer Interval</p>
                <h5 class="bar-main text-center">Every 1 Hour(s)</h5>
            </div>
            <div class="col-12 col-md-2">
                <p class="bar-heading text-center">Last Update</p>
                <h5 class="bar-main text-center">{{mSeen}}</h5>
            </div>
            <div class="col-12 col-md-2">
                <p class="bar-heading text-center">Asset Status</p>
                <h5 class="bar-main text-center">{{mStatus}}</h5>
            </div>
            <div class="col-12 col-md-2">
                <p class="bar-heading text-center">Asset Name</p>
                <h5 class="bar-main text-center">Micropilot FWR30</h5>
            </div>
            <div class="col-12 col-md-1"></div>
        </div>

        <!-- TELEGRAM CARDS -->
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card send-card">
                    <div class="card-body">
                        <h1 class="display-4 text-center"><i class="fab fa-telegram-plane"></i></h1>
                        <div class="row">
                            <div class="col-6">
                                <p class="send-description text-center">Current Battery Charge</p>
                            </div>
                            <div class="col-6">
                                <p class="send-link send-description text-center"><a role="button" onclick="">Send</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card send-card">
                    <div class="card-body">
                        <h1 class="display-4 text-center"><i class="fab fa-telegram-plane"></i></h1>
                        <div class="row">
                            <div class="col-6">
                                <p class="send-description text-center">Current Signal Quality</p>
                            </div>
                            <div class="col-6">
                                <p class="send-link send-description text-center"><a role="button" onclick="">Send</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card send-card">
                    <div class="card-body">
                        <h1 class="display-4 text-center"><i class="fab fa-telegram-plane"></i></h1>
                        <div class="row">
                            <div class="col-6">
                                <p class="send-description text-center">Current Asset Status</p>
                            </div>
                            <div class="col-6">
                                <p class="send-link send-description text-center"><a role="button" onclick="">Send</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="bg-primary text-white text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h6 class="text-uppercase footer-heading">About eCubed</h6>
                    <p>
                        eCubed is an all-in-one digital application to constantly be up to date on your fluid's properties.
                        Get information about the level, temperature, distance, and much more no matter where you are.
                        On the train or at home, at 6 a.m. or midnight. <br> Everything, Everywhere, Everytime.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase footer-heading">Main Pages</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="footer-li">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li class="footer-li">
                            <a href="/warnings" class="text-white">Warnings</a>
                        </li>
                        <li class="footer-li">
                            <a href="/level" class="text-white">Dashboard</a>
                        </li>
                        <li class="footer-li">
                            <a href="/contact" class="text-white">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase mb-0 footer-heading">Dashboard</h6>
                    <ul class="list-unstyled">
                        <li class="footer-li">
                            <a href="/level" class="text-white">Level</a>
                        </li>
                        <li class="footer-li">
                            <a href="/temperature" class="text-white">Temperature</a>
                        </li>
                        <li class="footer-li">
                            <a href="/distance" class="text-white">Distance</a>
                        </li>
                        <li class="footer-li">
                            <a href="/misc" class="text-white">Miscellaneous</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="https://www.de.endress.com/de">Endress+Hauser</a>
        </div>
    </footer>
</div>

<!--SCRIPTS-->
<script src="miscChart.js"></script>
<script src="script.js"></script>

</body>
</html>